body {
    font-family: georgia;
   
    background-size:300px 100px;

     }

* {box-sizing: border-box}
form {
    color:rgb(24, 22, 22);
    
   }
   .container{
       position: relative;
       font-family: georgia;
       margin-bottom: 35px;
       
   }
 #img1{
    margin-bottom: -30px;
    background-image: url("../../assets/grey3.jpg")
}
#btn
{
    background-color:navy;
    color: white;
    margin-bottom: 20px;
}
#btn:hover{
    background-color: cadetblue;
    color: black;
}