

<div class="container">
    
    <div class="row">
        <div class="col-sm-offset-1 col-sm-3" >
            
            <form class="form-horizontal" action="/action_page.php"id="img1">
            <br>
               <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                            <label for="teamone"><h3><b>CSK</b></h3></label>
                        <!-- <input type="text" class="form-control input-sm" id="teamone"  name="teamone"> -->
                    </div>
                    <div class="col-sm-1" style="color:crimson"><h3><b>vs</b></h3></div>
                    <div class=" col-sm-offset-1 col-sm-3">
                            <label for="teamtwo"><h3><b>RCB</b></h3></label>
                            <!-- <input type="text" class="form-control input-sm" id="teamtwo"  name="teamtwo"> -->
                    </div>
                    <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                     <label class="col-sm-offset-1 col-sm-4" ><strong>DATE :</strong></label>
                        <div class="col-sm-5">
                            <label for="date">07-09-2018</label>
                            <!-- <input type="text" class="form-control input-sm" id="date"  name="date"> -->
                        </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-offset-1 col-sm-4" ><strong>TIME :</strong></label>
                        <div class="col-sm-5">
                            <label for="time">6:00pm</label>
                             <!-- <input type="text" class="form-control input-sm" id="time"  name="time"> -->
                        </div>
                </div> 
                <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <button type="submit"id="btn" class="btn btn-outline-primary mr-2" (click)="book()">Book Now</button>
                               
                            </div>
                </div>
            </form>                    
        </div>    
        <div class="col-sm-offset-1 col-sm-3" >
                <form class="form-horizontal" action="/action_page.php"id="img1">
                    <br><div class="form-group row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                    <label for="teamone"><h3><b>SRH</b></h3></label>
                            <!-- <input type="text" class="form-control input-sm" id="teamone"  name="teamone"> -->
                        </div>
                        <div class="col-sm-1" style="color:crimson"><h3><b>vs</b></h3></div>
                        <div class="col-sm-offset-1 col-sm-3">
                                <label for="teamtwo"><h3><b>KXIP</b></h3></label>
                                <!-- <input type="text" class="form-control input-sm" id="teamtwo"  name="teamtwo"> -->
                        </div>
                        <div class="col-sm-1"></div>
                        </div>
                    <div class="form-group">
                         <label class="col-sm-offset-1 col-sm-4" ><strong>DATE :</strong></label>
                            <div class="col-sm-5">
                                    <label for="date">27-09-2018</label>
                                <!-- <input type="text" class="form-control input-sm" id="date"  name="date"> -->
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-sm-offset-1 col-sm-4" ><strong>TIME :</strong></label>
                            <div class="col-sm-5">
                                    <label for="time">6:00pm</label>
                                 <!-- <input type="text" class="form-control input-sm" id="time"  name="time"> -->
                            </div>
                    </div> 
                    <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-5">
                                    <button type="submit"id="btn" class="btn btn-outline-primary mr-2" (click)="book()">Book Now</button>
                                </div>
                    </div>
                </form>                    
            </div>    
            <div class="col-sm-offset-1 col-sm-3">
                    <form class="form-horizontal" action="/action_page.php"id="img1">
                        <br><div class="form-group row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                        <label for="teamone"><h3><b>KKR</b></h3></label>
                                <!-- <input type="text" class="form-control input-sm" id="teamone"  name="teamone"> -->
                            </div>
                            <div class="col-sm-1" style="color:crimson"><h3><b>vs</b></h3></div>
                            <div class="col-sm-offset-1 col-sm-3">
                                    <label for="teamtwo"><h3><b>RR</b></h3></label>
                                    <!-- <input type="text" class="form-control input-sm" id="teamtwo"  name="teamtwo"> -->
                            </div>
                            <div class="col-sm-1"></div>
                            </div>
                        <div class="form-group">
                             <label class="col-sm-offset-1 col-sm-4" ><strong>DATE :</strong></label>
                                <div class="col-sm-5">
                                        <label for="date">11-10-2018</label>
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-offset-1 col-sm-4" ><strong>TIME :</strong></label>
                                <div class="col-sm-5">
                                        <label for="time">8:00pm</label> 
                                </div>
                        </div> 
                        <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-5">
                                        <button type="submit" id="btn"class="btn btn-outline-primary mr-2" (click)="book()">Book Now</button>
                                    </div>
                        </div>
                    </form>                    
                </div>    
               
    </div>
</div>


