<div id="background">
    <div class="container">
        <div class="row" >
            <div class="col-sm-5" id="color">
                    <form class="form-horizontal" action="/action_page.php">
                        <h2 style="text-align: center">Login Form</h2>
                        <br>
                      <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-3 " for="email">UserName :</label>
                        <div class="col-xs-6">
                          <input type="text" class="form-control input-sm" id="uname" placeholder="Enter UserName" name="uname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-3" for="pwd">Password :</label>
                        <div class="col-xs-6">          
                          <input type="password" class="form-control input-sm" id="pwd" placeholder="Enter password" name="pwd">
                        </div>
                      </div>
                      <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-5">
                          <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Remember me</label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                                <a href="forgot.html">forgot password?</a>
                            </div>
                      </div>
                     
                      <div class="form-group">        
                        <div class="col-sm-offset-3 col-sm-6">
                          <button type="submit" class="btn btn-primary" (click)="pay()">Login</button>
                        </div>
                      </div>
                    </form>              
</div>
    <div class="col-sm-offset-1 col-sm-6"id="color">
            <form class="form-horizontal" action="/action_page.php">
                <h2 style="text-align: center">Registration Form</h2>
                <br>
                <div class="form-group">
                    <label class="control-label col-sm-offset-1 col-sm-3" >FirstName :</label>
                    <div class="col-xs-6">
                    <input type="text" class="form-control input-sm" id="fname" placeholder="Enter first name" name="fname">
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-3">LastName :</label>
                  <div class="col-xs-6">
                        <input type="text" class="form-control input-sm" id="lname" placeholder="Enter last name" name="lname">
                  </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-3" for="uname">UserName :</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control input-sm" id="uname" placeholder="Enter UserName" name="uname">
                    </div>
                </div>
                <div class="form-group">
                            <label class="control-label col-sm-offset-1 col-sm-3"for="email">Email :</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control input-sm" id="email" placeholder="Enter Mail-Id" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                                <label class="control-label col-sm-offset-1 col-sm-3"for="mobileno">MobileNo :</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="mobileno" placeholder="Enter MobileNo" name="mobileno">
                            </div>
                        </div>
                        <div class="form-group">
                                    <label  class="control-label col-sm-offset-1 col-sm-3" for="pwd">Password :</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="pwd" placeholder="Enter Password" name="pwd">
                                </div>
                            </div>
              
                <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-9">
                          <div class="checkbox">
                            <label><input type="checkbox" name="term"> I agree to Terms and Conditions</label>
                          </div>
                        </div>
                      </div>
                <div class="form-group">        
                  <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>          
    </div>
</div>
</div>
</div> 