<div id="background">
    <div class="container">
        <div class="row" >
            <div class="col-sm-5" id="color">
                    <form class="form-horizontal" action="/action_page.php">
                        <h2 style="text-align: center">Sign In</h2>
                        <br>
                      <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-4 " for="email">Username :</label>
                        <div class="col-sm-5">
                          <input type="text" class="form-control" [(ngModel)]="model.username" id="uname" placeholder="Enter username" name="username">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-4" for="pwd">Password :</label>
                        <div class="col-sm-5">          
                          <input type="password" class="form-control" [(ngModel)]="model.password" id="pwd" placeholder="Enter Password" name="password">
                        </div>
                      </div>
                      <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-5">
                          <div class="checkbox">
                            <label><input type="checkbox" name="remember"> Remember me</label>
                          </div>
                        </div>
                        <div class="col-sm-5">
                                <a href="forgot.html"><b>Forgot password ?</b></a>
                            </div>
                      </div>
                     
                      <div class="form-group">        
                        <div class="col-sm-offset-3 col-sm-6">
                          <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
                        </div>
                      </div>
                    </form>              
</div>
    <div class="col-sm-offset-1 col-sm-6"id="color">
            <form class="form-horizontal" action="/action_page.php">
                <h2 style="text-align: center">Sign Up & Join Us</h2>
                <div class="col-sm-offset-2 alert alert-info input-sm col-sm-8" style="padding: 5px;font-size: 14px">
                  <strong>Info ! </strong>Please login after registering to proceed further.
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label col-sm-offset-1 col-sm-3" >Firstname :</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" id="fname" placeholder="Ex:John,Catherine" name="fname"
                    [(ngModel)]="model1.firstname" 
                  #firstname="ngModel">
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-3">Lastname :</label>
                  <div class="col-sm-6">
                        <input type="text" class="form-control" id="lname" placeholder="Ex:Smith,D'souza" name="lname"
                        [(ngModel)]="model1.lastname" 
                        #lastname="ngModel">
                  </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-offset-1 col-sm-3" for="uname">Username :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="uname1" placeholder="Enter username" name="uname"
                        [(ngModel)]="model1.username" 
                        #username="ngModel">
                    </div>
                </div>
                <div class="form-group">
                            <label class="control-label col-sm-offset-1 col-sm-3"for="email">Email :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="email" placeholder="Enter email-Id" name="email"
                            [(ngModel)]="model1.email" 
                            #email="ngModel" >
                        </div>
                    </div>
                   
                        <div class="form-group">
                                    <label  class="control-label col-sm-offset-1 col-sm-3" for="pwd">Password :</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="pwd1" placeholder="Enter Password" name="pwd"
                                    [(ngModel)]="model1.password" 
                                    #password="ngModel">
                                </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-sm-offset-1 col-sm-3"for="mobileno">Mobile :</label>
                          <div class="col-sm-6">
                              <input type="text" class="form-control" id="mobileno" placeholder="Enter Mobile number" name="mobileno"
                              [(ngModel)]="model1.mobileNo" 
                              #mobileNo="ngModel">
                          </div>
                      </div>
              
                <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-9">
                          <div class="checkbox">
                            <label><input type="checkbox" name="term"> I agree to the terms and conditions</label>
                          </div>
                        </div>
                      </div>
                <div class="form-group">        
                  <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
                  </div>
                </div>
              </form>          
    </div>
</div>
</div>
</div> 