<div class="card">
    <div class="card-header card-title">Match Details</div>
    <div class="card-body">
    <form>
      <div class="form-group row">
        <label class="col-form-label">Date :</label>
        <input type="text" name="date" id="date"
          class="form-control" [(ngModel)]="model.date" />
      </div>
      <div class="form-group row">
        <label class="col-form-label">Timing :</label>
        <input type="text" name="timing" id="timing"
          class="form-control" [(ngModel)]="model.timing" />
      </div>
      <div class="form-group row">
        <label class="col-form-label">Stadium :</label>
        <input type="text" name="stadium" id="stadium"
          class="form-control" [(ngModel)]="model.stadium" />
      </div>
      <div class="form-group row">
          <label class="col-form-label">Team A :</label>
          <input type="text" name="teama" id="teama"
            class="form-control" [(ngModel)]="model.teamAName" />
        </div>
        <div class="form-group row">
            <label class="col-form-label">Team B:</label>
            <input type="text" name="teamb" id="teamb"
              class="form-control" [(ngModel)]="model.teamBName" />
          </div>
      <button type="button" class="btn btn-outline-primary mr-2"
      (click)="saveData()">Save</button>
      <button type="button" class="btn btn-outline-primary mr-2"
      (click)="cancel()">Cancel</button>
     
  </form>
  </div>  
