<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="/">CRICzONE</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">  
            <span class="glyphicon glyphicon-home"></span> Home </a>
        <a class="nav-item nav-link" routerLink="/admin"  routerLinkActive="active">
            <i class="fa fa-users"></i> About Us  </a>
      
        <a class="nav-item nav-link" routerLink="/product" routerLinkActive="active">
            <span class="glyphicon glyphicon-earphone"></span> Contact Us  </a>
           
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="btn btn-default btn-sm" href="login">
            <span class="glyphicon glyphicon-user"></span> SIGN IN / SIGN UP</a>
         
      </div>
    </div>
  </nav>
