<nav class="navbar navbar-dark bg-dark mb-5" style="font-family: georgia">
  <i class="fa fa-contao" style="font-size: 42px;color: rgb(0, 216, 47)"></i>
    <a class="navbar-brand" style="font-size: 23px; font-family: papyrus" routerLink="/"><b>CRICzONE</b></a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
       
        <a class="nav-item nav-link" routerLink="/admin"  routerLinkActive="active">
            <i class="fa fa-users"></i> ADMIN  </a>
           
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
       
         
      </div>
    </div>
  </nav>
