<div id="bg">
    
      
      
    <br><br>
    <div class="container">
    <div id="color"><br>
        <form class="form-horizontal" action="/action_page.php">
            <h2 style="text-align: center;color: black"><b>Seat Details</b></h2>
              <br>
              <h3>Name : </h3>
              <div class="form-group">
                  <div class="col-sm-offset-4 col-4">
                       <input type="text" class="fon"  name="uname"
                       [(ngModel)]="model.uname"
                      #uname="ngModel" placeholder="Enter name"/>
                  </div>
          </div> 
              <h3>Choose Gallery : </h3>
         <div  ng-controller="cntryController">
            
            <select id="Gallery" class="fon">
                <option value="">---Please select---</option>
                <option value="Gallery A" >Gallery A</option>
                <option value="Gallery B">Gallery B</option>
                <option value="Gallery C">Gallery C</option>
            </select>
        </div>
        
      <h2 >Choose Category:</h2>
      <div ng-controller="cntryController">
          
          <select name="categoryName" [(ngModel)]="model.categoryName" #categoryName="ngModel" class="fon">
                <option value="">---Please select---</option>
              <option value="upper">Upper</option>
              <option value="VIP">VIP</option>
              <option value="Lower">Lower</option>
          </select>
      </div>
        
      <h2 >Required seats:</h2>
      <div ng-controller="cntryController">
          
          <select name="seats"  [(ngModel)]="model.no_Of_Seats" #no_Of_Seats="ngModel" class="fon">
            
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
          </select>
      </div>
        <br>
                 
                  
                  <div class="form-group">    
                           
                    <div class="col-sm-offset-3 col-sm-6">
                      <button type="submit" class="btn btn-primary"  (click)="proceed()">Proceed to pay</button>
                      <br>
                      <div style="color:rgba(0, 0, 0, 0.349)">.</div>
                    </div>
                    
                   
                  </div>
                </form>              
        </div>
    </div>
    </div>
    
    
    