.container{
    text-align: center;
    font-size: 16px;
    font-family: georgia;
}
   .container #color{
      color:white;
      margin-left: 23%;
      width:55%;
  background: rgba(0, 0, 0, 0.26);
  }
  .fon
  {
      color: black;
  }
  #bg{
      margin: -30px;
      background-image: url("../../assets/grass.jpg");
      background-size: cover;
  }