<div class="contrainer">
  <div class="row">
    <div class="col-md-4">
      <br>
      <h3 style="margin-left:35px">Booking details</h3>
      <br>
      <div class="list-group">
        <ul>
         <li class="list-group-item">Name: {{model.uname}}</li>
          <li class="list-group-item">Category Name: {{model.categoryName}}</li>
          <li class="list-group-item">No Of Seats: {{model.no_Of_Seats}}</li>
          <br>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <app-payment></app-payment>
    </div>
  </div>
</div>