
 
   
     <div class="panel-heading display-table" style="margin-top: 25px;margin-left: 14px">
        <div class="row display-tr" >
            <h3 class="panel-title display-td" >Payment Details</h3>
            <div class="display-td" >                            
                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
            
               </div>
             </div>
           </div>
<div class="radio">

             <label style="margin-top: 30px">
               <input  type="radio" name="cards" value="3"  (change)="updateUI('3')">Net Banking</label>
             
             <div id="card3" [hidden]="!isNetBanking"> 
                 <!-- <div class="dropdown">
                     <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Select Name of The Bank
                     </button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                       <button class="dropdown-item" type="button">State Bank of India</button>
                       <div class="dropdown-divider"></div>
                       <button class="dropdown-item" type="button">HDFC</button>
                       <div class="dropdown-divider"></div>
                       <button class="dropdown-item" type="button">Central Bank Of India</button>
                       <div class="dropdown-divider"></div>
                       <button class="dropdown-item" type="button">Axis Bank</button>
                       <div class="dropdown-divider"></div>
                       <button class="dropdown-item" type="button">Indian Bank</button>
                    
                     </div>
                   </div>
                   <br> -->
                   <datalist id="banks">
                       <option > SBI</option>
                       <option >Indian Bank</option>
                       <option > HDFC</option>
                       <option > ICICI</option>
                       <option > Axis</option>


                     </datalist>
                     <input list="banks" type="text">
                   <button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['confirm']"
                          >
                         Pay
                       </button>
                       <button type="button" class="btn btn-outline-warning mr-2" [routerLink]="['../home']">
                       Cancel </button>
             </div>
           </div>

         <div class="radio">
          <label style="margin-top: 20px"><input  type="radio" name="cards" (change)="updateUI('2')">Credit card</label>

          <div id="card1" [hidden]="!isCreditCard" > 


             <div class="card">

                 <div class="card-body">
                     <form>
                       <div class="form-group">
                         
                         <label class="col-form-label">Card Number</label>
                         <input name="cardNum " id="cardNum"


                         type="tel"
                                             class="form-control"
                                             name="cardNumber"
                                             placeholder="Valid Card Number"
                                             autocomplete="cc-number"
                                             required autofocus 

                           class="form-control"   />
                       
                       </div>
                       
                       <div class="form-group row">
                         <div class="col-md-6">
                         <label class="col-form-label">Expiry</label>
                         <input  name="expiry" id="expiry"

                         type="tel" 
                                         class="form-control" 
                                         name="cardExpiry"
                                         placeholder="MM / YY"
                                         autocomplete="cc-exp"
                                         required 
                           class="form-control" />
                         </div>
                         <div class="col-md-6">
                             <label class="col-form-label">CVV</label>
                             <input  name="cvv" id="cvv"
   
                             type="tel" 
                                             class="form-control" 
                                             name="CVV"
                                             placeholder="CVV"
                                             autocomplete="cc-exp"
                                             required 
                               class="form-control" />
                             </div>
                       </div>
                       <div class="form-group">
                           <label class="col-form-label">Card Holder's Name</label>
                           <input type="text" name="cardholder" id="cardholder"
                           placeholder="Card Holder's Name"
                             class="form-control"   />
                         </div>
                       <button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['confirm']"
                          >
                         Pay
                       </button>
                       <button type="button" class="btn btn-outline-warning mr-2" [routerLink]="['../home']" >
                       Cancel </button>
                       
                       
                   </form>
                   </div>  

                 </div>


          </div>



          </div>
          <div class="radio">
             <label style="margin-top: 20px"><input type="radio" name="cards" (change)="updateUI('1')">Debit card</label>



             <div id="card2" class="panel panel-default" [hidden]="!isDebitCard">
                 
               <div class="card">

                 <div class="card-body">
                     <form>
                       <div class="form-group">
                         
                         <label class="col-form-label">Card Number</label>
                         <input name="cardNum " id="cardNum"


                         type="tel"
                                             class="form-control"
                                             name="cardNumber"
                                             placeholder="Valid Card Number"
                                             autocomplete="cc-number"
                                             required autofocus 

                           class="form-control"   />
                       
                       </div>
                       
                       <div class="form-group row">
                         <div class="col-md-6">
                         <label class="col-form-label">Expiry</label>
                         <input  name="expiry" id="expiry"

                         type="tel" 
                                         class="form-control" 
                                         name="cardExpiry"
                                         placeholder="MM / YY"
                                         autocomplete="cc-exp"
                                         required 
                           class="form-control" />
                         </div>
                         <div class="col-md-6">
                             <label class="col-form-label">CVV</label>
                             <input  name="cvv" id="cvv"
   
                             type="tel" 
                                             class="form-control" 
                                             name="CVV"
                                             placeholder="CVV"
                                             autocomplete="cc-exp"
                                             required 
                               class="form-control" />
                             </div>
                       </div>
                       <div class="form-group">
                           <label class="col-form-label">Card Holder's Name</label>
                           <input type="text" name="cardholder" id="cardholder"
                           placeholder="Card Holder's Name"
                             class="form-control"   />
                         </div>
                       <button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['confirm']"
                          >
                         Pay
                       </button>
                       <button type="button" class="btn btn-outline-warning mr-2" [routerLink]="['../home']">
                       Cancel </button>
                       
                       
                   </form>
                   </div>  

                 </div>
               </div>
           
             
          
